.post-container {
    border: 1px solid;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.likeamount {
    float: right;
    padding-right: 15px;
}

.likes {
    
    float: right;

    margin-right: 10px;
    margin-top: 10px;
}

h3 {
    margin-left: 10px;
}

#followbutton {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a.userlink {
    color: black;
    text-decoration: underline;
}

.follow {
    margin-left: 10px;
}

.edit {
    font-size: 12px;
    padding: 2px;
    margin-left: 5px;
}

.save { 
    margin-top: 2px;
    font-size: 12px;
    padding: 2px;
    margin-left: 5px;
}

.tarea {
    margin-top: 2px;
    margin-left: 2px;
    width: 20em;
}

.hidden {
    display: none;
}

#create-post #post-form {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

#success {
    display: None;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}